source/.codelite/*
source/.clang/*
source/resman.tags

source/main/*.mk
source/main/main.txt
source/main/Debug/*
source/loader/*.mk
source/loader/loader.txt
source/loader/Debug/*

source/Makefile

example/output/*
example2/output/*

jsoncpp/*
stb/*
