source/.codelite/*
source/.clang/*
source/resman.tags

source/main/*.mk
source/main/main.txt
source/main/Debug/*
source/main/Release/*
source/loader/*.mk
source/loader/loader.txt
source/loader/Debug/*
source/loader/Release/*

source/Makefile

example/output/*
example/intermediate/*

libraries/*
dependencies-win/*
/example2/project/data/geometry/Cube.blend1
